:root {
  --main-color: #273053;
  --second-main-color: #0dcaf0;
  --main-background-color: #f0f8ff;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
::selection {
  background-color: var(--second-main-color);
  color: #ffffff;
}
html {
  height: 8000px;
  scroll-behavior: smooth;
}

body {
  font-family: "DM Sans", sans-serif;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}

.clear {
  clear: both;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Start animations */
@keyframes hover-display {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacityLet {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
/* End animations */

/* Start Fixed Class */

/* Start Fixed Header */
.main-header {
  max-width: 100%;
}
.main-header h1 {
  text-align: center;
  margin-top: 0;
  letter-spacing: -2.5px;
  font-size: 50px;
  font-weight: bolder;
}
.main-header h1 span {
  color: var(--second-main-color);
  position: relative;
}
.main-header h1 span::before {
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--second-main-color);
  position: absolute;
  bottom: 9px;
  left: 0;
}
/* end Fixed Header */

/* End Fixed Class */

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* Start Header */
.nav-bar {
  background-color: var(--main-color);
  position: fixed;
  top: 0;
  width: 100%;

  z-index: 9999;
}

.nav-bar .container,
.nav-bar .container .logo a,
.nav-bar .container nav,
.nav-bar .container nav .links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.nav-bar .container .menu {
  display: none;
}

.nav-bar .container .logo a {
  gap: 7px;
  color: var(--second-main-color);
  text-transform: uppercase;
}
.nav-bar .container .logo a i {
  font-size: 35px;
}

.nav-bar .container nav .links li a {
  color: #ffffff;
  transition: 0.3s;
}
.nav-bar .container nav .links li a.active,
.nav-bar .container nav .links li a:hover {
  color: var(--second-main-color);
}

.nav-bar .container nav > a {
  color: #ffffff;
  background-color: #0d6efd;
  padding: 15px 20px;
  border-radius: 50px;
  font-weight: 700;
  transition: 0.4s;
}
.nav-bar .container nav > a:hover {
  background-color: var(--second-main-color);
}

@media (max-width: 991px) {
  .nav-bar .container .menu {
    width: 100px;
    cursor: pointer;
    display: block;
  }

  .nav-bar .container .menu i {
    font-size: 30px;
    color: #ffffff;
  }

  .nav-bar .container nav .links {
    flex-direction: column;
    gap: 0;
    background-color: var(--main-color);
    width: 100%;
    padding: 0;
    position: absolute;
    top: 64px;
    left: 0;

    display: none;
  }
  .nav-bar .container nav .links.active {
    display: block;
    transition: 0.4s;
  }
  .nav-bar .container nav .links li {
    gap: 25px;
    padding: 15px 50px;
    align-self: flex-start;
  }
  .nav-bar .container nav > a {
    background: none;
  }
}
@media (max-width: 1199px) {
  .nav-bar .container nav,
  .nav-bar .container nav .links {
    gap: 30px;
  }
  .nav-bar .container nav > a {
    text-align: center;
    padding: 12px 18px;
  }
}
/* End Header */

/* Start Landing Page */
.landing-page {
  position: relative;
  min-height: 100vh;
}

.landing-page::before {
  content: "";
  width: 100%;
  height: 100%;
  background-image: linear-gradient(#27305303, #273053);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
}
.landing-page .video video {
  position: absolute;
  top: 0;
  left: 0;

  object-fit: cover;
  width: 100%;
  height: 100%;
}
.landing-page .container .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.landing-page .container .text h1 {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 55px;
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
}
.landing-page .container .text h1 span {
  position: relative;
  color: var(--second-main-color);
}
.landing-page .container .text h1 span::before {
  content: "";
  width: 100%;
  height: 5px;
  background-color: var(--second-main-color);
  position: absolute;
  bottom: 7px;
  left: 0;
}

.landing-page .container .text .date {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.landing-page .container .text .date p {
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 10px 20px;
}
.landing-page .container .text .date p:first-child {
  border-right: 0;
}

@media (max-width: 1199px) {
  .landing-page .container .text h1 {
    font-size: 50px;
    text-align: center;
  }
}

/* End Landing Page */

/* Start Video Section */

.videos {
  background-color: var(--main-color);
  padding-bottom: 50px;
}

.videos .container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.videos .container .video-intro {
  position: relative;
  overflow: hidden;
}
.videos .container .video-intro img {
  max-width: 100%;
  min-height: 100%;
  transition: 0.8s;
}
.videos .container .video-intro:hover img {
  transform: scale(1.2);
}

.videos .container .video-intro::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
.videos .container .video-intro .info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 11;
}

.videos .container .video-intro .info h2 {
  color: #ffffff;
  text-transform: capitalize;
  font-size: 25px;
}
.videos .container .video-intro .info i {
  display: none;
  font-size: 45px;
  color: #ff0000;
}
.videos .container .video-intro:hover .info h2 {
  display: none;
}
.videos .container .video-intro:hover .info i,
.videos .container .video-intro:hover .info {
  display: block;
  width: 45px;
}

@media (max-width: 767px) {
  .videos .container {
    flex-wrap: wrap;
  }
}
@media (max-width: 1199px) {
  .videos .container .video-intro .info h2 {
    font-size: 21px;
  }
}
/* End Video Section */

/* Start About Section */

.story {
  padding-top: 120px;
  padding-bottom: 120px;
}
.story .container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.story .container .leadership {
  flex-basis: 50%;
}
.story .container .leadership h1 {
  font-size: 50px;
}

.story .container .leadership h1 span {
  position: relative;
  color: var(--second-main-color);
}

.story .container .leadership h1 span::before {
  content: "";
  width: calc(100% - 25px);
  height: 4.5px;
  background-color: var(--second-main-color);
  position: absolute;
  bottom: 8px;
  left: 0;
}

.story .container .leadership h2 {
  font-size: 35px;
  margin-bottom: 20px;
}

.story .container .leadership p {
  color: #717275;
  font-size: 18px;
  line-height: 1.5;
  padding-bottom: 25px;
}

.story .container .leadership ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  padding: 0;
}

.story .container .leadership ul .meet {
  font-weight: bold;
  border: 2.5px solid var(--second-main-color);
  border-radius: 30px;
  padding: 10px 20px;
  transition: 0.5s;
}
.story .container .leadership ul .meet a,
.story .container .leadership ul .check a {
  color: var(--second-main-color);
}
.story .container .leadership ul .meet:hover,
.story .container .leadership ul .check:hover {
  background-color: var(--second-main-color);
  box-shadow: 2px 2px 7px 1px #7172757a;
}
.story .container .leadership ul .meet:hover a,
.story .container .leadership ul .check:hover a {
  color: #ffffff;
}
.story .container .leadership ul .check {
  color: #ffffff;
  background-color: var(--main-color);
  font-weight: bold;
  border-radius: 30px;
  padding: 12.5px 20px;
  transition: 0.5s;
}

.story .container .intro {
  padding-top: 50px;
  flex-basis: 50%;
}
.story .container .intro > p {
  font-size: 25px;
  font-weight: bold;
  line-height: 1.3;
  padding-bottom: 30px;
}
.story .container .intro hr {
  color: #717275;
}
.story .container .intro .images {
  display: flex;
  align-items: center;
  padding-top: 50px;
}

.story .container .intro .images > div {
  margin-right: -10px;
}
.story .container .intro .images img {
  width: 50px;
  height: 50px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
}

.story .container .intro .images p {
  color: #717275;
  margin-left: 40px;
  font-size: 18px;
  font-weight: 500;
}
@media (max-width: 767px) {
  .story .container .leadership ul {
    gap: 15px;
  }
  .story .container .leadership ul .meet,
  .story .container .leadership ul .check {
    font-weight: 500;
    font-size: 12.5px;
  }
}
@media (max-width: 991px) {
  .story .container {
    flex-direction: column;
  }
}

/* End About Section */

/* Start Our Speakers Section  */
.speakers {
  background-color: var(--main-background-color);
  padding-top: 120px;
  padding-bottom: 120px;
}

.speakers .container,
.speakers .container .our-speakers-info,
.speakers .container .our-speakers,
.speakers .container .our-speakers-info .speaker .speakers-info,
.speakers .container .our-speakers .speaker .speakers-info,
.speakers .container .our-speakers .speaker .speakers-info .icon,
.speakers .container .our-speakers-info .speaker .speakers-info .icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 50px;
  column-gap: 25px;
}
.speakers .container .our-speakers-info {
  flex-direction: row;
}
.speakers .container .our-speakers-info .info {
  flex-basis: 50%;
}
.speakers .container .our-speakers-info > .info h1 {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 30px;
}
.speakers .container .our-speakers-info > .info h1 span {
  position: relative;
  color: var(--second-main-color);
}
.speakers .container .our-speakers-info > .info h1 span::before,
.speakers .container .our-speakers-info > .info h1 span::after {
  content: "";
  height: 4.5px;
  background-color: var(--second-main-color);
  position: absolute;
  bottom: 7px;
}
.speakers .container .our-speakers-info > .info h1 span::before {
  width: 30px;
  left: 0;
}
.speakers .container .our-speakers-info > .info h1 span::after {
  width: calc(100% - 42px);
  right: 0;
}
.speakers .container .our-speakers-info > .info p {
  color: #717275;
  font-size: 18px;
  line-height: 1.5;
}
.speakers .container .our-speakers-info .speaker {
  flex-basis: 50%;
  position: relative;
}

.speakers .container .our-speakers-info .speaker img,
.speakers .container .our-speakers .speaker img {
  max-width: 100%;
}

.speakers .container .our-speakers-info .speaker .speakers-info,
.speakers .container .our-speakers .speaker .speakers-info {
  flex-direction: row;
  justify-content: space-between;
  gap: 0;
  background-color: #ffffff;
  width: calc(100% - 30px);
  padding: 0 25px;
  position: absolute;
  bottom: 20px;
  left: 15px;
  z-index: 100;
}

.speakers .container .our-speakers-info .speaker .speakers-info::after,
.speakers .container .our-speakers .speaker .speakers-info::after {
  content: "";
  width: 5px;
  height: 100%;
  background-color: var(--second-main-color);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: 1s;
}
.speakers .container .our-speakers-info .speaker:hover .speakers-info:after,
.speakers .container .our-speakers .speaker:hover .speakers-info::after {
  width: 100%;
}

.speakers .container .our-speakers-info .speaker .speakers-info .info h2,
.speakers .container .our-speakers .speaker .speakers-info .info h4 {
  margin: 10px 0 3px;
}

.speakers .container .our-speakers-info .speaker .speakers-info .info p,
.speakers .container .our-speakers .speaker .speakers-info .info p {
  font-size: 13px;
  font-weight: normal;
  color: #717275;
  margin: 0 0 15px;
}

.speakers .container .our-speakers-info .speaker .speakers-info .icon,
.speakers .container .our-speakers .speaker .speakers-info .icon {
  flex-direction: row;
  column-gap: 10px;
  opacity: 0;
}
.speakers .container .our-speakers-info .speaker:hover .speakers-info .icon,
.speakers .container .our-speakers .speaker:hover .speakers-info .icon {
  animation: hover-display 0.7s forwards 0.68s;
}
.speakers .container .our-speakers-info .speaker .speakers-info .icon i,
.speakers .container .our-speakers .speaker .speakers-info .icon i {
  display: block;
  font-size: 20px;
  color: #000;
  background-color: #fff;
  border-radius: 50%;
  padding: 10px;
  transition: 0.4s;
}
.speakers .container .our-speakers-info .speaker .speakers-info .icon i:hover,
.speakers .container .our-speakers .speaker .speakers-info .icon i:hover {
  background: none;
}
.speakers .container .our-speakers {
  flex-direction: row;
}

.speakers .container .our-speakers .speaker {
  position: relative;
}
.speakers .container .our-speakers .speaker .speakers-info {
  padding: 0 13px 0 15px;
}
.speakers .container .our-speakers .speaker .speakers-info .icon {
  column-gap: 6px;
}
.speakers .container .our-speakers .speaker .speakers-info .icon i {
  font-size: 15px;
  padding: 7px;
}

@media (max-width: 767px) {
  .speakers .container,
  .speakers .container .our-speakers-info,
  .speakers .container .our-speakers {
    flex-direction: column;
  }
  .speakers .container .our-speakers .speaker {
    min-width: 100%;
  }
}
@media (max-width: 991px) {
  .speakers .container .our-speakers-info .speaker .speakers-info .info h2 {
    font-size: 20px;
  }
  .speakers .container .our-speakers-info .speaker .speakers-info .icon i {
    font-size: 15px;
    padding: 7px;
  }
}
@media (max-width: 1199px) {
  .speakers .container .our-speakers {
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }
  .speakers .container .our-speakers .speaker {
    width: calc(50% - 12.5px);
  }
}
/* End Our Speakers Section  */

/* Start Schedules Section */

.schedules {
  padding-top: 120px;
  padding-bottom: 120px;
}

.schedules > .container {
  padding-bottom: 120px;
}
.schedules .days {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  padding: 50px 0;
}

.schedules .days .day {
  background-color: #ffffff;
  padding: 30px;
  position: relative;
  transition: 0.5s;
  cursor: pointer;
}

.schedules .days .day::before {
  content: "";
  width: 4px;
  height: 100%;
  background-color: var(--second-main-color);
  position: absolute;
  top: 0;
  left: -4px;
  z-index: 2;
  transition: 0.5s;
  opacity: 0;
}
.schedules .days .day:hover,
.schedules .days .day.active,
.schedules .days .day.active::before,
.schedules .days .day:hover::before {
  opacity: 1;
  box-shadow: 0px 2px 27px -3px rgb(0 0 0 / 40%);
}

.schedules .days .day h1 {
  font-size: 35px;
  font-weight: 700;
  letter-spacing: -1px;
  margin: 0;
  color: #000;
  transition: 0.2s;
}
.schedules .days .day:hover h1,
.schedules .days .day.active h1 {
  color: var(--second-main-color);
}
.schedules .days .day p {
  color: #717275;
  font-size: 17px;
  letter-spacing: -1px;
  margin-top: 2px;
  margin-bottom: 0;
}
.schedules .container .days .day:not(:last-child) {
  border-right: 4px solid #f0f8ff;
}
/*///////////////////////////////////////////////////////////////*/
.schedules .days-schedules .day-schedules,
.schedules .days-schedules .day-schedules .meeting,
.schedules .day-schedules .meeting .meeting-info,
.schedules .meeting .meeting-info .meeting-date,
.schedules .meeting .meeting-date .speaker {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.schedules .days-schedules > div {
  opacity: 0;
  transition: opacity 1s linear;
}
.schedules .days-schedules > div:not(:first-child) {
  display: none;
}
.schedules .days-schedules > div.active {
  animation: opacityLet 0.4s forwards;
}

.schedules .days-schedules .day-schedules .line {
  width: 100%;
  height: 1.5px;
  background-color: #e7e8ec;
  margin: 50px 0;
}
.schedules .days-schedules .day-schedules .meeting {
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
}
.schedules .meeting .meeting-image img {
  width: 450px;
  border-radius: 30px;
}

.schedules .day-schedules .meeting .meeting-info {
  align-self: flex-start;
  align-items: flex-start;
}

.schedules .meeting .meeting-info .meeting-title h1 {
  font-size: 30px;
  margin: 0;
  letter-spacing: -1.8px;
}
.schedules .meeting .meeting-info .meeting-title p {
  font-size: 17px;
  color: #717275;
  line-height: 1.5;
  margin-top: 15px;
}
.schedules .meeting .meeting-info .meeting-date {
  flex-direction: row;
}

.schedules .meeting .meeting-info .meeting-date .speaker {
  flex-direction: row;
  justify-content: center;
}
.schedules .meeting .meeting-info .meeting-date .speaker,
.schedules .meeting .meeting-info .meeting-date span {
  margin-right: 35px;
}
.schedules .meeting-date .speaker img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
}

.schedules .meeting .meeting-info .meeting-date .speaker .info h2 {
  font-size: 18px;
  font-weight: 200;
  margin: 10px 0 0;
}
.schedules .meeting .meeting-info .meeting-date .speaker .info p {
  font-size: 13px;
  font-weight: 200;
  margin-top: 5px;
  color: #717275;
}
.schedules .meeting .meeting-info .meeting-date span {
  display: flex;
  justify-content: center;
  align-items: center;
}
.schedules .meeting .meeting-info .meeting-date span i {
  margin-top: -2px;
  margin-right: 8px;
}
.schedules .meeting .meeting-info .meeting-date span i {
  font-size: 20px;
  width: 20px;
  height: 20px;
}

@media (max-width: 767px) {
  .schedules .days {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }

  .schedules .days .day h1 {
    font-size: 25px;
  }

  .schedules .days .day p {
    font-size: 15px;
    letter-spacing: -0.5px;
  }
  .schedules .meeting .meeting-info .meeting-date {
    flex-wrap: wrap;
  }
  .schedules .meeting .meeting-info .meeting-date span {
    margin: 15px 13px 0;
  }

  /* ////////////////////////////////////////////////////////// */
  .schedules .days-schedules .day-schedules .meeting {
    flex-direction: column;
    max-width: 100%;
  }
  .schedules .meeting .meeting-info {
    max-width: 100%;
  }
}
@media (max-width: 991px) {
  .schedules .days-schedules .day-schedules .meeting {
    flex-direction: column;
    flex-basis: 100%;
  }
  .schedules .meeting .meeting-image {
    width: 100%;
  }
  .schedules .meeting .meeting-image img {
    width: 100%;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .schedules .days {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }
}
/* End Schedules Section */

/* Start Event Section */

.event {
  background-image: url(../images/terren-hurst-blgOFmPIlr0-unsplash.jpg);
  background-size: cover;
  background-attachment: fixed;
  min-height: 45vh;
  position: relative;
  z-index: 1;
}
.event .lay-out {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: -1;
}
.event .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 45vh;
}

.event .container > .main-header h1 {
  color: #ffffff;
  margin: 0;
  text-align: left;
}

.event .container > .main-header h1 span::before {
  width: calc(50% - 10px);
}
.event .container > .main-header h1 span::after {
  content: "";
  width: calc(50% - 10px);
  height: 4px;
  background: var(--second-main-color);
  position: absolute;
  bottom: 9px;
  right: 6px;
}

.event .container > .main-header p {
  color: #ffffff;
  max-width: 700px;
  font-size: 18px;
  line-height: 1.7;
}
.event .container .register-button {
  flex-basis: 50%;
  text-align: center;
}
.event .container .register-button button {
  color: #000;
  font-size: 18px;
  font-weight: 600;
  padding: 14px 20px;
  border-radius: 40px;
  background-color: #ffffff;
  outline: none;
  border: none;
  cursor: pointer;
  transition: 0.4s;
}

.event .container .register-button:hover button {
  background-color: var(--second-main-color);
  color: #ffffff;
}

@media (max-width: 767px) {
  .event .container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .event .container > .main-header h1 {
    font-size: 35px;

    text-align: center;
  }
  .event .container > .main-header p {
    width: 400px;
    max-width: 100%;
    margin: 20px auto;
  }
  .event .container .register-button button {
    font-size: 15px;
  }
}

@media (max-width: 991px) {
  .event .container > .main-header h1 span::before,
  .event .container > .main-header h1 span::after {
    content: none;
  }
}
/* End Event Section */

/* Start tickets Section */
.tickets {
  padding-bottom: 120px;
}

.tickets .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 25px;
}
.tickets .container {
  padding-top: 40px;
}
.tickets .container .ticket {
  border-radius: 30px;
  background-color: #ffffff;
  box-shadow: 2px 0px 30px 6px #7172755e;
  overflow: hidden;
}

.tickets .container .ticket .ticket-type {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  background-color: var(--main-color);
  color: #ffffff;
}

.tickets .container .ticket .ticket-type h1 {
  letter-spacing: -1.8px;
}
.tickets .container .ticket .ticket-type span {
  font-size: 22px;
  font-weight: 700;
}

.tickets .container .ticket .features {
  padding: 30px 35px 15px;
  margin-bottom: 0;
}
.tickets .container .ticket .features li {
  color: #717275;
  font-size: 18px;
  margin-bottom: 13px;
}
.tickets .container .ticket .features li i {
  width: 30px;
  height: 30px;
  color: #717275;
  font-size: 18px;
}

.tickets .container .ticket .line {
  width: calc(100% - 80px);
  height: 1px;
  background-color: #71727542;
  margin: 0 auto;
}

.tickets .container .ticket p {
  margin-top: 25px;
  padding: 0 25px;
  font-size: 18px;
  color: #717275;
  max-width: 100%;
}

.tickets .container .ticket .button {
  padding: 30px 35px 45px;
}

.tickets .container .ticket .button a {
  padding: 10px 20px;
  background-color: var(--main-color);
  color: #ffffff;
  border-radius: 50px;
  font-weight: 700;
}
.tickets .container .ticket .button a:hover {
  background-color: var(--second-main-color);
}

@media (max-width: 767px) {
  .tickets .container {
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  }
}
/* End tickets Section */

/* Start Venue Section */
.venue {
  background-color: var(--main-background-color);
  padding-top: 120px;
  padding-bottom: 120px;
}

.venue .main-header h1 {
  text-align: left;
}

.venue .my-address {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  padding-top: 30px;
}
.venue .my-address .map {
  /* flex-basis: 50%; */
  width: 50%;
  border-radius: 30px;
  overflow: hidden;
}
.venue .my-address .map iframe {
  border: none;
}

.venue .my-address .address-card {
  align-self: start;
  width: 50%;
  border-radius: 30px;
  background-color: #ffffff;
  box-shadow: 2px 0px 30px 6px #7172755e;
  overflow: hidden;
}

.venue .my-address .address-card .town {
  display: flex;
  padding: 10px 30px;
  background-color: var(--main-color);
}
.venue .my-address .address-card .town h1 {
  font-size: 45px;
  font-weight: 700;
  letter-spacing: -2px;
  margin: 20px 0;
  color: #ffffff;
}
.venue .my-address .address-card .address {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  padding: 25px 30px 20px;
}
.venue .my-address .address-card .address i {
  align-self: center;
  font-size: 30px;
  color: #717275;
}

.venue .my-address .address-card .address h2 {
  font-size: 25px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 0;
}

.venue .my-address .address-card a {
  display: flex;
  gap: 15px;
  padding: 10px 30px;
  color: #717275;
  font-size: 20px;
  font-weight: bold;
}
.venue .my-address .address-card a:last-of-type {
  padding-bottom: 40px;
}

@media (max-width: 991px) {
  .venue .my-address {
    flex-direction: column;
  }

  .venue .my-address .map,
  .venue .my-address .address-card {
    width: 100%;
  }

  .venue .main-header h1 {
    font-size: 46px;
  }
}
/* End Venue Section */

/* Start Contact Section  */

.contact {
  background-image: url(../images/maria-stewart-p4tj0g-_aMM-unsplash.jpg);
  background-size: cover;
  background-attachment: fixed;
  min-height: 80vh;
}

.contact .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.contact .contact-us {
  border-radius: 30px;
  background-color: #ffffff;
  box-shadow: 2px 0px 30px 6px #7172755e;
  overflow: hidden;
  width: 800px;
}

.contact .contact-us header {
  padding: 15px 50px;
  background-color: var(--main-color);
  color: #ffffff;
}
.contact .contact-us header h2 {
  margin: 15px auto;
  font-size: 50px;
  font-weight: 700;
  letter-spacing: -1.5px;
  max-width: 100%;
}

.contact .contact-us form {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 45vh;
}
.contact .contact-us form .data {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding-bottom: 25px;
}
.contact .contact-us form .data input {
  width: 220px;
  height: 50px;
}
.contact .contact-us form .message {
  padding-bottom: 25px;
}
.contact .contact-us form .message textarea {
  width: 100%;
  height: 150px;
}

.contact .contact-us form .data input,
.contact .contact-us form .message textarea {
  background-color: var(--main-background-color);
  border: none;
  outline: none;
  padding: 15px;
  resize: none;
}

.contact .contact-us form .button input {
  width: 100%;
  height: 50px;
  background-color: var(--second-main-color);
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  border-radius: 50px;
  border: none;
  outline: none;
  cursor: pointer;
}

@media (max-width: 767px) {
  .contact .contact-us header h2 {
    font-size: 35px;
  }
  .contact .contact-us form .data {
    flex-direction: column;
    padding-top: 45px;
  }
  .contact .contact-us form .data input {
    min-width: 290px;
    width: 100%;
  }

  .contact .contact-us form .button {
    padding-bottom: 35px;
  }
}
@media (max-width: 991px) {
  .contact .contact-us form .data input {
    width: 200px;
  }
}

/* End Contact section */

/* Start footer Section */
footer {
  padding-top: 80px;
  padding-bottom: 80px;
}

footer .social,
footer .social .logo a,
footer .social ul,
footer .footer,
footer .footer ul,
footer .footer .copywrite {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .social {
  padding-bottom: 30px;
  flex-basis: 50%;
}

footer .social .logo a i {
  color: var(--second-main-color);
  font-size: 35px;
  margin: 0 10px;
}

footer .social .logo a h3 {
  color: var(--second-main-color);
  text-transform: uppercase;
  font-size: 20px;
  line-height: 1;
}

footer .social ul li {
  margin-left: 10px;
}
footer .social ul li a {
  font-size: 27px;
  color: #000;
  border-radius: 50%;
  padding: 10px;
  width: 50px;
  height: 20px;
  transition: 0.3s;
}

footer .social ul li:hover a {
  background-color: var(--second-main-color);
}

.line {
  width: calc(100% - 100px);
  height: 1px;
  background-color: #71727542;
  margin: 0 auto;
}
footer .footer {
  padding-top: 50px;
  flex-basis: 50%;
}
footer .footer ul li {
  padding-right: 20px;
}
footer .footer ul li a {
  color: #717275;
  transition: 0.3s;
}

footer .footer ul li a:hover {
  color: var(--second-main-color);
}
footer .footer .copywrite .intro {
  padding-right: 50px;
}
footer .footer .copywrite .intro p,
footer .footer .copywrite .intro span {
  font-size: 15px;
  font-weight: 400;
  color: #717275;

  line-height: 1.5;
}

footer .footer .copywrite a i {
  font-size: 22px;
  padding: 18px;
  border-radius: 50%;
  background-color: #f0f8ff;
  color: #000;
  transition: 0.3s;
}
footer .footer .copywrite a:hover i {
  background-color: var(--second-main-color);
  color: #ffffff;
}

@media (max-width: 767px) {
  footer .social {
    justify-content: center;
    gap: 8px;
  }
  footer .social .logo a i {
    font-size: 30px;
  }
  footer .social .logo a h3 {
    font-size: 15px;
    font-weight: 500;
  }
  footer .social ul li {
    margin-left: 1px;
  }
  footer .social ul li a {
    font-size: 20px;
  }

  footer .footer {
    flex-direction: column;
  }

  footer .footer ul {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 15px;
  }
  footer .footer .copywrite {
    text-align: center;
  }
  footer .footer .copywrite .intro {
    padding-right: 0;
  }
  footer .footer .copywrite a {
    display: none;
  }
}
/* End footer Section */
